.about-us-wrapper {
    position: relative;
    display: block;
    max-width: 1000px;
    background: red;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
}

.member {
    position: relative;
    width: 100%;
}

.member-img {
    width: 150px;
    border-radius: 100px;
    margin: 20px ;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.caption {
    position: absolute;
    left: 170px;
    font-size: large;
    font-family: 'Crete Round', serif;
    text-transform: uppercase;
    margin: 30px 0 0 30px;
}

.about-text {
    position: relative;
    margin: 60px 0 0 10px;
    max-width: 750px;
}

.left {
    float: left;
}