.searchInputs {
    margin-top: 90px;
      display: flex;
      justify-content: center;
    }
    
    .search input {
      background-color: white;
      border: 0;
      border-radius: 20px;
      font-size: 18px;
      padding-left: 20px;
      height: 30px;
      width: 250px;
      box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    }
    
    .searchIcon {
      height: 60px;
      width: 50px;
      background-color: white;
      display: grid;
      place-items: center;
    }
    
    input:focus {
      outline: none;
    }
    .searchIcon svg {
      font-size: 35px;
    }
    
    

    #datacategory{
     
      color: black;
      border-radius: 5px;
      border:1px solid black;
      font-family: 'Lato', sans-serif;
      
 
      cursor: pointer;
      position: relative;
      display: inline-block;
      box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);


      

    }


    #datacategory:hover {
      background: white; 
      color: black; 
      border: 3px solid red;
    }

    #datacategoryPopular{
      font-size: 11.5px;
      color: black;
      border-radius: 3px;
      border:1px solid black;
      font-family: 'Lato', sans-serif;
      
 
      cursor: pointer;
      position: relative;
      display: inline-block;
     

    }

    #datacategoryPopular:hover{
      background: white; 
      color: black; 
      border: 3px solid red;

    }
    
    #cbutton{
      position: fixed;
      background-color: white;
      top: 40px;
      left: 190px;
      border-radius: 20px;
      padding: 3px;
      padding-left: 10px;
  }

  #dbutton{
    background-color: white;
    border: 0;
    border-radius: 20px;
    font-size: 18px;
    padding-left: 20px;
    height: 40px;
    width: 280px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    position: fixed;
    top: 30px;
    left: 50px;
    padding: 6px;
  }
  #cbutton:hover{
    opacity: 0.7;
    background: red;
  }
  #dbutton:hover{
    background: red;
    opacity: 0.7;
  }
    
    .dataResult {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-auto-rows: 25px;
      height: fit-content;
      margin-top: 5px;
      margin-left: 50px;
      height: 200px;
      width: 250px;

   
      border-radius: 10px;
      padding: 15px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      overflow: hidden;
      overflow-x: none;
      overflow-y: none; 
       
    }


    .dataResult button {
      border: none;
      background: none;
      font-size: 12px;
    }
  
    .dataResult::-webkit-scrollbar {
      width: 20px;
      background: red;
      border-radius: 10px;
     
    }
    
    .dataResult .dataItem {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      color: black;
    }


    

    #order{
      display: flex;
    }

    .dataItem p {
      margin-left: 10px;
    }
    a {
      text-decoration: none;
    }
    
    a:hover {
      background-color: lightgrey;
    }
    
    #clearBtn {
      cursor: pointer;
    }