body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button {
  cursor: pointer;
  height: 100%;
}
.container {
  display: block;
  width: 100%;
  background: url("/public/uploads/background.jpg") center;
  background-size: cover;
  min-height: 100vh;
}

/*Login Button style*/
.btn-wrapper {
  position: absolute;
  right: 0;
  margin: 30px 60px 0 0;
  filter: drop-shadow(3px 5px 5px rgb(0, 0, 0, 0.5));
  z-index: 100;
}

.login-btn {
  clip-path: polygon(
    0 50%,
    10% 0,
    90% 0,
    100% 50%,
    90% 100%,
    10% 100%
  ); /*top inner shadow looks ugly clip-path: polygon(0 50%, 10% 0, 90% 0, 100% 50%, 90% 10%, 10% 10%, 0 50%);*/
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  background: rgb(19, 31, 63);
  opacity: 0.6;
  color: white;
  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 10px 40px 10px 40px;
  letter-spacing: 1.5px;
}

.login-btn:hover {
  opacity: 1;
}

/* ad-component style*/
.ad-wrapper {
  position: absolute;
  width: 115px;
  height: 115px;
  filter: drop-shadow(3px 6px 3px rgba(50, 50, 0, 0.5));
}

.ad-logo {
  position: absolute;
  width: 60%;
}

.hex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 100px;
  clip-path: polygon(0 50%, 21% 0, 79% 0, 100% 50%, 79% 100%, 21% 100%);
  background: rgb(255, 1, 1);
}

.hex::before {
  position: absolute;
  content: "";
  width: 103px;
  height: 90px;
  background: rgb(255, 255, 255); /*hex logo background color*/
  clip-path: polygon(0 50%, 21% 0, 79% 0, 100% 50%, 79% 100%, 21% 100%);
}

/* Body style */
.body {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

/* User Page style */

.userPhoto {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  margin: 20px;
}

h1 {
  position: relative;
  float: left;
  margin: 30px;
  text-transform: uppercase;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.applications {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  clear: both;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

textarea:focus,
input:focus {
  outline: none;
}

.form {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  background: rgba(0, 0, 0, 0.25);
  padding: 20px 0 35px 0;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgb(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.url-input {
  border: none;
  margin-top: 10px;
  padding: 25px;
  width: 70%;
  font-size: 1.25rem;
  background: none;
  background-color: white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-right: thick double rgb(19, 31, 63, 0.5);
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.btn {
  border: none;
  margin-top: 10px;
  padding: 25px 35px 25px 35px;
  font-size: 1.25rem;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: rgb(199, 189, 189);
}

/* Footer style */
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  justify-content: center;
  z-index: 100;
}

.footer ul {
  margin: auto;
  list-style: none;
}

.footer li {
  position: relative;
  float: left;
  margin: 20px 30px 20px 30px;
  letter-spacing: 3px;
  opacity: 0.7;
  cursor: pointer;
}

.footer li:hover {
  opacity: 1;
}

.logo {
  width: 100px;
  position: absolute;
  left: 45px;
  top: -20px;
}

/* Result */
.result {
  position: relative;
  margin: auto;
  width: 100%;
  clear: both;
  text-align: center;
  padding-top: 50px;
}
.result p {
  border: none;
  margin: auto;
  padding: 25px;
  width: 70%;
  font-size: 1.25rem;
  background: none;
  background-color: white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}
.result button {
  padding: 1rem 1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background: rgba(185, 183, 183, 0.5);
  border: none;
}
.result button.copied {
  background: rgb(0, 0, 0);
  color: var(--primary-color);
}
.noData {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}
.result button.copied {
  background: #fff;
  color: var(--primary-color);
}

/* Price */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.background1 {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background1::after {
  content: "";
  height: 25%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background1 {
    padding: 0 0 25px;
  }
}

.container1 {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 50%;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08),
    0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 50%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: rgb(255, 1, 1);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: rgb(255, 1, 1);
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: rgb(255, 1, 1);
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: rgb(255, 1, 1);
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: rgb(255, 1, 1);
}

#hey {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

.dropdown-content {
  position: fixed;
  left: 20%;
  float: right;
  padding-right: 10%;
  padding-bottom: 0%;
}

.dropdown-content p {
  font-size: 20px;
  float: right;
  margin-right: 2%;
}

#keywords {
  font-size: 20px;

  margin-right: 2%;
}

@media screen and (max-width: 800px) {
  .url-input {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-right: none;
  }
  .btn {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .applications {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .btn-wrapper {
    margin-top: 90px;
  }
}
